.car {
  margin: 15px;
  display: inline-block;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.car:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  background-color: #bdbdbd;
}
